:root{
	--primary-color: #1a3967;
	--secondary-color: #3390ec;
	--transparent-color: rgba(51, 144, 236, 0.08);
	--muted-color:#d1bfbf;
	--main-gray: #f8f9fa;
	scroll-behavior: smooth;
}

.primary-text{
	color: var(--primary-color);
}
.secondary-text{
	color: var(--secondary-color);
}
::placeholder{
	color: var(--muted-color)  !important;
} 

a.active{
	text-decoration: underline;
}

.muted-bg{
	background-color: var(--muted-color) !important;
}